<div class="view80">
    <div>
        <button id="testBtn" class="btn btn-primary m-1" type="button">test</button>
    </div>
    <div class="flex">
        <div>읽기 테스트 : </div>
        <div id="read"></div>
    </div>
    <div class="flex">
        <div>쓰기 테스트 : </div>
        <div id="write"></div>
    </div>
    
</div>

<script>
    $(document).ready(async ()=>{
        testBtnClick();
        
    });

    function testBtnClick() {
        $("#testBtn").on("click", ()=>{
            $("#read").html("connect...");
            $("#write").html("connect...");
            load().then((result)=>{
                $("#read").html(result.result);
            });
            write().then((result)=>{
                $("#write").html(result.result);
            })
        });
    }
</script>