<div class="view80">
    <div>
        <button id="testBtn" class="btn btn-primary m-1" type="button">읽기, 쓰기 테스트</button>
        <button id="readtableBtn" class="btn btn-primary m-1" type="button">테이블 이름 불러오기</button>
    </div>
    <div class="flex">
        <div>읽기 테스트 :&nbsp;</div>
        <div id="read"></div>
    </div>
    <div class="flex">
        <div>쓰기 테스트 :&nbsp;</div>
        <div id="write"></div>
    </div>
    <div class="flex">
        <div>테이블 이름 :&nbsp;</div>
        <div id="readtable"></div>
    </div>
</div>

<script>
    getTypelist = {
        sheetNames : "시트 목록 요청",
        data : "해당 시트의 데이트 요청"
    }

    $(document).ready(async ()=>{
        testBtnClick();
        readTable();
    });

    function testBtnClick() {
        $("#testBtn").on("click", ()=>{
            let getType = "data";
            let sheetname = "test";

            $("#read").html("connect...");
            $("#write").html("connect...");

            read(getType, sheetname).then((result)=>{
                $("#read").html(result.result);
            });

            write().then((result)=>{
                $("#write").html(result.result);
            })
        });
    }

    function readTable() {
        $("#readtableBtn").on("click", ()=>{
            $("#readtable").html("connect...");
            read("sheetNames").then((result)=>{

                let resultHtml = "";
                for (let i = 0; i < result.list.length; i++) {
                    resultHtml += result.list[i] + ', ';
                }
                resultHtml = "(" + resultHtml + ")";

                $("#readtable").html(result.result + resultHtml);
            });
        })
    }
</script>